.App {
  display: grid;
  place-items: center;
  height: 100vh;
}

a {
  display: flex;
  align-items: center;
  border: solid black 1px;
  border-radius: 30px;
  padding: 2px 10px 2px 0px;
  text-decoration: none;
  color: black;
}

.navbar{
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
.home{
  height: calc(100vh - 50px);
  display: grid;
  place-items: center;
}